name: First Workflow

on:
  push:
    branches:
      - main

jobs:
  example-job:
    runs-on: ubuntu-latest

    steps:
      - name: Print Frist Message
        run: echo "This is First Message from GitHub Action"
      
      - name: CheckOut Repository
        uses: actions/checkout@v6.0.2

      - name: List Repository files
        run: ls -la
